#dashboard_container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, minmax(0, 1fr));
    grid-gap: 1.5em;
    padding-top: 2em;
}
#menu_emission_input {
    grid-row: 1/2;
    grid-column: 4/6;
}
#menu_emission_logs{
    grid-row: 1/2;
    grid-column: 6/8;
}
#menu_alert_logs{
    grid-row: 1/2;
    grid-column: 8/10;
}
#menu_view_metrics{
    grid-row: 2/3;
    grid-column: 5/7;
}
#menu_admin_portal{
    grid-row: 2/3;
    grid-column: 7/9;
}
#menu_quick_metrics{
    grid-row: 4/ -1;
    grid-column: 1/span 12;
}

.dashboard_menu_item>div{
    border: 2px solid var(--primary-color);
    box-shadow: 2px 2px 5px rgb(97, 97, 97);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    cursor: pointer;
    min-height: 5em;
    min-width: 5em;
    height: 100%;
    width: 100%;
}
.dashboard_menu_item div h3{
    text-align: center;
    font-size: 20px;
    padding: .4em;
    text-decoration: none;
    color: var(--text-color);
}
.dashboard_menu_item{
    text-decoration: none;
}
.dashboard_menu_item div:hover{
    box-shadow: 4px 4px 10px rgb(97, 97, 97);
    transform: scale(1.05);  
}
.dashboard_menu_item div:visited{
    text-decoration: none;
}
#title_message{
    margin-top:1em;
    color: var(--secondary-color);
}
#company_name{
    color: var(--primary-color);
    margin-top: .2em;
}
#metrics_static_container h2{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 1em;
}
/* Responsive Design */
#dashboard_container:not(:has(#menu_admin_portal)) #menu_view_metrics{
    grid-column: 6/8;
}