#login_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70dvh;
}
#form_login{
    border: 2px solid var(--primary-color);
    padding: 2em;
    margin-bottom: 2em;
    width: 20em;
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
label, input{
    display: block;
    margin-bottom: .2em;
    width: 100%;
}
#button_submit{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    max-width: 5em;
    width: 100%;
    text-align: center;
}
#links{
    display: flex;
    flex-direction: row;
    gap: .5em;
    margin-bottom: 3em;
}
.error_message{
    max-width: fit-content;
}
.user_message{
    color: var(--secondary-color);
}