#register_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#form_register{
    border: 2px solid var(--primary-color);
    padding: 2em;
    margin-bottom: 2em; 
    margin-top: 1em;
    width: 20em;
}
label, input{
    display: block;
    margin-bottom: .2em;
    width: 80%;
}
#role, #licensee_key, #is_active{
    margin-bottom: .2em;
    width: 80%;
}
#licensee_key{
    width: 110%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form label{
    align-self: flex-start; 
}
#button_submit{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    max-width: 5em;
    width: 100%;
    text-align: center;
}
.error_message{
    justify-content: center;
}

/* Specific style for Emission Factor form */
#emission_unit_type, #emission_type{
    width: 80%;
    margin-bottom: .2em;
}

